header{
    background-color: #264653;
}
.nav-container{
    background-color: #264653;
}
.grayScale{
        filter: grayscale(100%);
}
.bgOrange{
    background-color: #E76F51;
}
.bgOrange:hover {
    background-color: #db3f18;
}
.orange{
    color: #E76F51;
}
.honda-btn{
    color: #E76F51;
    border: 1px solid #E76F51; 
}
.honda-btn:hover {
    color: white;
    background-color: #E76F51;
}