/* body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
} */
header{
    background-color: #264653;
}
.nav-container{
    background-color: #264653;
}
.grayScale{
        filter: grayscale(100%);
}
.bgOrange{
    background-color: #E76F51;
}
.bgOrange:hover {
    background-color: #db3f18;
}
.orange{
    color: #E76F51;
}
